# Startd hooks
STARTD_JOB_HOOK_KEYWORD = EC2ENHANCED
EC2ENHANCED_HOOK_FETCH_WORK = $(LIBEXEC)/hooks/hook_fetch_work.py
EC2ENHANCED_HOOK_REPLY_FETCH = $(LIBEXEC)/hooks/hook_reply_fetch.py

# Starter hooks
EC2ENHANCED_JOB_HOOK_PREPARE_JOB = $(LIBEXEC)/hooks/hook_prepare_job.py
EC2ENHANCED_JOB_HOOK_UPDATE_JOB_INFO = $(LIBEXEC)/hooks/hook_update_job_status.py
EC2ENHANCED_JOB_HOOK_JOB_EXIT = $(LIBEXEC)/hooks/hook_job_exit.py

FetchWorkDelay = 10
STARTER_UPDATE_INTERVAL = 30

# EC2E daemon config
CARONIAD = $(SBIN)/caroniad
CARONIAD_LOG = $(LOG)/CaroniaLog
MAX_CARONIAD_LOG = 1000000
CARONIAD_IP = 127.0.0.1
CARONIAD_PORT = 10000
CARONIAD_QUEUED_CONNECTIONS = 5
CARONIAD_LEASE_TIME = 35
CARONIAD_LEASE_CHECK_INTERVAL = 30
DAEMON_LIST = $(DAEMON_LIST), CARONIAD

# Job Hooks config
JOB_HOOKS_IP = 127.0.0.1
JOB_HOOKS_PORT = $(CARONIAD_PORT)
JOB_HOOKS_LOG = $(LOG)/JobHooksLog
MAX_JOB_HOOKS_LOG = 10000000
