# Startd hooks
STARTD_JOB_HOOK_KEYWORD = EC2ENHANCED
EC2ENHANCED_HOOK_FETCH_WORK = $(LIBEXEC)/hooks/hook_fetch_work.py
EC2ENHANCED_HOOK_REPLY_FETCH = $(LIBEXEC)/hooks/hook_reply_fetch.py

# Starter hooks
EC2ENHANCED_JOB_HOOK_PREPARE_JOB = $(LIBEXEC)/hooks/hook_prepare_job.py
EC2ENHANCED_JOB_HOOK_UPDATE_JOB_INFO = $(LIBEXEC)/hooks/hook_update_job_status.py
EC2ENHANCED_JOB_HOOK_JOB_EXIT = $(LIBEXEC)/hooks/hook_job_exit.py

FetchWorkDelay = 10
STARTER_UPDATE_INTERVAL = 30

# EC2E daemon config
EC2E_DAEMON = $(SBIN)/caroniad
EC2E_DAEMON_IP = 127.0.0.1
EC2E_DAEMON_PORT = 10000
EC2E_DAEMON_QUEUED_CONNECTIONS = 5
EC2E_DAEMON_LEASE_TIME = 35
EC2E_DAEMON_LEASE_CHECK_INTERVAL = 30
DAEMON_LIST = $(DAEMON_LIST), EC2E_DAEMON
EC2E_DAEMON_LOG = $(LOG)/CaroniaLog
MAX_EC2E_DAEMON_LOG = 1000000
